/* -*-css-*- */

.status {
    -fx-font-size: 20px;
    -fx-translate-x: 10;
    -fx-translate-y: 410;
}

.rute {
    -fx-font-size: 50px;
    -fx-pref-width: 120px;
    -fx-pref-height: 120px;
}
		       
